//---------------[ Variables ]
$black: 		rgb(27,29,30);
$white: 		rgb(255,255,255);
$red:           rgb(173,0,11);
$gray: 			rgb(229,229,229);
$dark-gray:     rgb(168,168,168);

$chat-red:		rgb(255,0,0);
$chat-green:	rgb(0,128,0);
$chat-blue: 	rgb(0,0,255);
$chat-orange: 	rgb(255,128,64);

//---------------[ Mixins ]
// Margin and Padding
@mixin marpad($margin, $padding) {
	margin: $margin;
	padding: $padding;
}

// All Things Font
@mixin font($size, $weight, $line, $margin) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line;
	margin: $margin;
}