//----------------[ Includes ]
//--------[ Compass ]
@import 'compass';
@import 'compass/css3';

//--------[ Custom ]
@import 'base';
@import 'fonts';

//----------------[ Mobile ]
html {}

	body {}

		header {
			background: $black;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			#brand {
				float: left;
				padding: .5em;
				img {
					height: 1.5em;
					vertical-align: bottom;
				}
			}

			#tools {
				float: right;
				.tool {
					float: left;
					height: 1.5em;
					width: 1.5em;
					a {
						display: block;
					}
					.text {
						display: none;
					}
				}
			}
		}
		
		nav {
			height: 1.5em;
			ul {
				li {
					float: left;
					list-style-type: none;
					width: 33.333333%;
				}
			}
		}

		#content {
			padding-top: 3em;
			.shoutbox_content {
				.message {
					border-bottom: $border;
					padding: .5em;
					.avatar {
						float: left;
						padding: 0 .5em 0 0;
					}
				}
			}
		}
		
		footer {}

		.inner {
		}

		.sub {
			clear: both;
			display: none;
		}