//----------------[ Includes ]
//-------- Compass
@import 'compass';
@import 'compass/css3';

//-------- Custom
@import 'reset';
@import 'base';


//----------------[ Mobile ]
//-------- Type
body {
	color: $black;
}

h1, h2 {
	@include font(1.3em, bold, auto, 0 0 .25em);
}

h3 {
	@include font(1em, bold, auto, 0 0 1em);
}

p {
	@include font(1em, normal, 1.5em, 0);
}

	p + p {
		margin: 1em 0;
	}

a {
	color: $red;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

	.current {
		color: $white;
	}

	#top-nav a {
		@include font(1.5em, normal, 1.5em, 0);
	}

input {
	font-size: .75em;
}

.red { color: $chat-red; }
.green { color: $chat-green; }
.blue { color: $chat-blue; }
.orange { color: $chat-orange; }

//-------- Structure
html {
	background: $gray;
}

body {}

.container {
	height: 100%;
	padding: 1em;
	width: 100%;
}

img {
	vertical-align: bottom;
}

header {
	background: $black;
}

	#logo {
		float: left;
		overflow: hidden;
	}

	#menu-icon {
		float: right;
		width: 36px;
		-webkit-transition: all 0.50s ease-in-out;
		-moz-transition: all 0.50s ease-in-out;
		-o-transition: all 0.50s ease-in-out;
		transition: all 0.50s ease-in-out;
	}

		.rotate {
			-webkit-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-o-transform: rotate(-90deg);
			transform: rotate(-90deg);
			-webkit-transition: all 0.50s ease-in-out;
			-moz-transition: all 0.50s ease-in-out;
			-o-transition: all 0.50s ease-in-out;
			transition: all 0.50s ease-in-out;
		}
			
	#top-nav {
		clear: both;
		display: none;
		ul {
			li {
				a {
					display: block;
					padding: 0 0 1em;
				}
			}
		}
	}

#content {
	.container {
		padding: 1em 0;
	}
}

	#welcome {
		background: $white;
		border-radius: 3px;
		@include box-shadow($dark-gray 0px 3px 0px);
		@include marpad(0 0 1em, 1em);
	}

		#thanks {
			float: right;
		}

	#sidebar {}

		#upload {
			@extend #welcome;
		}

			#upload > iframe {
				border: 1px solid $dark-gray;
			}

	#main {}

		#chat {
			@extend #welcome;
		}

			#shoutbox {
				border: 1px solid $dark-gray;
			   	height: 350px;
			   	overflow: auto;
			   	width: 100%;
			   	@include marpad(0 0 1em, .5em);
				.message {
					margin: 0 0 .25em 0;
					date {
						font-size: .625em;
						color: $dark-gray;
					}
					name{}
					data{}
				}	
			}


				#shoutbox-input {
					.nickname, .message, .submit {
						width: 100%;
					}
				}

footer {
	color: $gray;
	@extend header;
}

	.to-top {}

//-------- Inputs
.button {
	background: $dark-gray;
	border: 0;
	color: $white;
	@include marpad(0, 1em);
}

input {
	border: 1px solid $dark-gray;
	height: 3em;
	@include marpad(0 0 1em, 0 .5em);
}

input[type=radio] {
  height: 1.3em;
  margin: 0 .2em;
}

//----------------[ Desktop ]
//-------- Structure
@media screen and (min-width: 801px) {
	.container {
		margin: 0 auto;
		max-width: 1280px;
		width: 90%;
	}

	#logo {
		margin: 0 2em 0 0;
	}

	#menu-icon {
		display: none;
	}

	#top-nav {
		clear: none;
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		ul {
			li {
				float: left;
				a {
					@include marpad(0 1em 0 0, 0)
				}
			}
		}
	}

	#sidebar {
		float: right;
		width: 40%;
	}

	#content {
		.container {
			padding: 1em 1em;
		}
	}

	#main {
		float: left;
		padding: 0 1em 0 0;
		width: 60%;
	}

		#shoutbox-input {
			.nickname {
				float: left;
				margin: 0 1em 0 0;
				width: 20%;
			}

			.message {
				float: left;
				width: 60%;
			}

			.button {
				float: right;
				width: 15%;
			}
		}

	.to-top {
		display: none;
	}
}