* {
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, object, iframe, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

header, footer, footer, nav, section, article, hgroup, figure {
  display: block;
}

legend {
  display: none;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  color: #1b1d1e;
}

h1, h2 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: auto;
  margin: 0 0 0.25em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: auto;
  margin: 0 0 1em;
}

p {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

p + p {
  margin: 1em 0;
}

a {
  color: #ad000b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.current {
  color: white;
}

#top-nav a {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}

input {
  font-size: .75em;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.orange {
  color: #ff8040;
}

html {
  background: #e5e5e5;
}

.container {
  height: 100%;
  padding: 1em;
  width: 100%;
}

img {
  vertical-align: bottom;
}

header, footer {
  background: #1b1d1e;
}

#logo {
  float: left;
  overflow: hidden;
}

#menu-icon {
  float: right;
  width: 36px;
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  transition: all 0.50s ease-in-out;
}

#top-nav {
  clear: both;
  display: none;
}
#top-nav ul li a {
  display: block;
  padding: 0 0 1em;
}

#content .container {
  padding: 1em 0;
}

#upload, #chat, #welcome {
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: #a8a8a8 0px 3px 0px;
  -moz-box-shadow: #a8a8a8 0px 3px 0px;
  box-shadow: #a8a8a8 0px 3px 0px;
  margin: 0 0 1em;
  padding: 1em;
}

#shoutbox {
  border: 1px solid #a8a8a8;
  height: 350px;
  overflow: auto;
  width: 100%;
  margin: 0 0 1em;
  padding: 0.5em;
}
#shoutbox .message {
  margin: 0 0 .25em 0;
}
#shoutbox .message date {
  font-size: .625em;
  color: #a8a8a8;
}

#shoutbox-input .nickname, #shoutbox-input .message, #shoutbox-input .submit {
  width: 100%;
}

footer {
  color: #e5e5e5;
}

#welcome p {
  clear: both;
}

#okay {
  float: right;
}

input {
  border: 1px solid #a8a8a8;
  height: 3em;
  margin: 0 0 1em;
  padding: 0 0.5em;
}

input[type=submit] {
  background: #a8a8a8;
  color: white;
}

input[type=radio] {
  height: 1.3em;
  margin: 0 .2em;
}

@media screen and (min-width: 801px) {
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }

  #logo {
    margin: 0 2em 0 0;
  }

  #menu-icon {
    display: none;
  }

  #top-nav {
    clear: none;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  #top-nav ul li {
    float: left;
  }
  #top-nav ul li a {
    margin: 0 1em 0 0;
    padding: 0;
  }

  #sidebar {
    float: right;
    width: 40%;
  }

  #content .container {
    padding: 1em 1em;
  }

  #main {
    float: left;
    padding: 0 1em 0 0;
    width: 60%;
  }

  #shoutbox-input .nickname {
    float: left;
    margin: 0 1em 0 0;
    width: 20%;
  }
  #shoutbox-input .message {
    float: left;
    width: 60%;
  }
  #shoutbox-input .submit {
    float: right;
    width: 15%;
  }

  .to-top {
    display: none;
  }
}
