* {
  overflow: auto;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #1b1d1e;
  font-family: sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  line-height: auto;
  margin: 0;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: auto;
  margin: 0 0 0.25em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: auto;
  margin: 0 0 0.25em;
}

p {
  font-size: 1em;
  font-weight: normal;
  line-height: auto;
  margin: 0 0 1em;
}

header {
  color: white;
}
header #tools .tool {
  font-size: 1.5em;
  padding: .25em;
  text-align: center;
}

nav ul li {
  text-align: center;
}

#content .shoutbox_content .message .info name {
  font-weight: bold;
}
#content .shoutbox_content .message .info date {
  color: #979ea1;
  font-size: .75em;
}

.bubble {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

header {
  background: #1b1d1e;
}
header #brand {
  float: left;
  padding: .5em;
}
header #brand img {
  height: 1.5em;
  vertical-align: bottom;
}
header #tools {
  float: right;
}
header #tools .tool {
  float: left;
  height: 1.5em;
  width: 1.5em;
}
header #tools .tool a {
  display: block;
}
header #tools .tool .text {
  display: none;
}

nav {
  height: 1.5em;
}
nav ul li {
  float: left;
  list-style-type: none;
  width: 33.333333%;
}

#content .shoutbox_content .message {
  border-bottom: 1px solid #979ea1;
  padding: .5em;
}
#content .shoutbox_content .message .avatar {
  display: none;
  float: left;
  padding: 0 .5em 0 0;
}
#content .shoutbox_content .message .info {
  padding: 0 0 .5em;
}
#content .shoutbox_content .message .info date {
  float: right;
}

#post-bubble {
  right: 1em;
}

#to-top {
  left: 1em;
}

.bubble {
  background: #ad000b;
  border-radius: 50%;
  bottom: -3em;
  height: 2em;
  padding: .5em;
  position: fixed;
  width: 2em;
  z-index: 1;
  -webkit-transition: all, 0.25s, ease-in-out;
  -moz-transition: all, 0.25s, ease-in-out;
  -o-transition: all, 0.25s, ease-in-out;
  transition: all, 0.25s, ease-in-out;
}

.on {
  bottom: 1em;
  position: fixed;
  -webkit-transition: all, 0.25s, ease-in-out;
  -moz-transition: all, 0.25s, ease-in-out;
  -o-transition: all, 0.25s, ease-in-out;
  transition: all, 0.25s, ease-in-out;
}

.sub {
  clear: both;
  display: none;
}
