@media screen and (min-width: 801px) {
html {}

	body {}

		header {}
			#logo {
				margin: 0 2em 0 0;
			}

			#menu-icon {
				display: none;
			}

			#top-nav {
				clear: none;
				display: table-cell;
				padding: 0;
				vertical-align: middle;
				ul {
					li {
						float: left;
						a {
							@include marpad(0 1em 0 0, 0);
						}
					}
				}
			}

		#content {}

			#welcome {}

				#thanks {}

			#sidebar {
				display: block;
				left: 59%;
				position: fixed;
				width: 40%;
			}

				#upload {
					iframe {}
				}

			#main {
				float: left;
				padding: 0 1em 0 0;
				width: 60%;
			}

				#chat {}

					#shoutbox {
						.message {}
					}

					#sb_form {}

						#shoutbox-input {
							.message {
								width: 100%;
							}
              .counter {
                margin: 0 0 1em;
                width: 100%;
              }
							.nickname {
								float: left;
								width: 20%;
							}
							.button {
								float: right;
								width: 12%;
							}
						}

						#shoutbox_options {
							label {}
							.bg-black {}
							.bg-blue {}
							.bg-green {}
							.bg-orange {}
							.bg-red {}
						}

		footer {}

			.to-top {
				display: none;
			}

		#fab {
			display: none;
		}

		.card {
			padding: 1em
		}

		.container {
			margin: 0 auto;
			max-width: 1280px;
			padding: 1em;
			width: 90%;
		}

		.list {
			table {
				.m,
				.s,
				.t {
					display: table-cell;
				}
			}
		}
}
